absl-py==0.13.0
astor==0.8.1
atari-py==0.2.6
cached-property==1.5.2
cloudpickle==1.6.0
cycler==0.10.0
gast==0.2.2
google-pasta==0.2.0
grpcio==1.40.0
gym==0.19.0
h5py
importlib-metadata==4.8.1
joblib==1.0.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
kiwisolver
Markdown==3.3.4
matplotlib
tensorflow-gpu==1.15.5
numpy
opencv-python==4.5.3.56
opt-einsum==3.3.0
pandas
Pillow==8.3.2
protobuf==3.17.3
pyglet==1.5.20
pyparsing==2.4.7
PyQt5==5.15.4
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.0
pyqtgraph
python-dateutil==2.8.2
pytz==2021.1
scipy
six==1.16.0
sortedcontainers
stable-baselines==2.10.2
tensorboard==1.15.0
tensorflow-estimator==1.15.1
termcolor==1.1.0
typing-extensions==3.10.0.2
Werkzeug==2.0.1
wrapt==1.12.1
zipp==3.5.0
tqdm